{% extends "fake/base.html" %}
{% block head %}
	<script>
		$(function(){
			$('input[type="submit"]').click(function(e){
				if (!$('#uid-input').val() || !$('#mid-input').val())
				{
					e.preventDefault();
					alert("信息未填写完成");
				}

			});
		});

	</script>
{% endblock %}
{% block content %}
<div id="title">{{ title }} </div>
<div id="body">
	<form action='/fake/test'>
		<table class="form">
			<tr><td>学号</td><td><input type='text' name="uid" id="uid-input" /></td></tr>
			<tr><td>测评模型</td><td><input type='text' name="mid" id="mid-input" /></td></tr>
			
		</table>
		<input class="submit-btn" type="submit" value="提交" />
	</form>
</div>
{% endblock %}
